*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#f4f7fb;
}

.navbar{
  background:#0f172a;
  color:white;
  padding:16px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:26px;
}

.navLinks{
  display:flex;
  gap:20px;
}

.navLinks a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.navLinks a:hover{
  color:#38bdf8;
}

.page{
  min-height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:30px;
}

.box{
  background:white;
  width:380px;
  padding:30px;
  border-radius:18px;
  box-shadow:0 10px 25px rgba(0,0,0,.12);
}

input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:10px;
  border:1px solid #ddd;
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#16a34a;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  opacity:.9;
}